.mask {
    @include size(100%, 100%);
    position: fixed;
    z-index: 100;
    background-color: rgba(0, 0, 0, .7);
}
.maskNo {
    @include size(100%, 100%);
    position: fixed;
    z-index: 999;
    background-color: rgba(0, 0, 0, 0);
}

.fade-enter-active,
.fade-leave-active {
    transition: opacity .7s;
}

.fade-enter,
.fade-leave-to {
    opacity: 0;
}

.popS {
    font-family: 'Noto Serif TC', serif;
    position: fixed;
    z-index: 102;
    @extend %box-center;
    background-image: url(../img/popUpBg1.png);
    @include size(502px, 212px);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 30px;
    font-size: 18px;
    font-weight: 600;
    line-height: 40px;
    padding: 20px, 20px;

    .close {
        color: #513100;
        position: absolute;
        @include ab-rt(30px, 20px);
        scale: 1.5;
        cursor: pointer;
        z-index: 105;

        &:hover {
            scale: 2;
            transition: .2s linear;
        }
    }

    .popContent {
        top: 6%;
        text-align: center;

        span{
            color: #ff7800;
            font-size: 20px;
        }

        .popTitle {
            font-size: 22px;
            padding-top: 30px;
        }

        .popButAll {
            display: flex;
            flex-direction: row;
            justify-content: center;
            top: 20px;

            .popBut1,
            .popBut2 {
                cursor: pointer;
                font-size: 22px;
                color: #ffff;
                border: #3e311c 2px solid;
                background: linear-gradient(#5b3821, #b1754b);
                padding: 2px 30px;
                text-shadow: 0 0 5px #3d2811, 0 0 5px #3d2811;
                &:hover {
                    filter: brightness(1.4);
                    transition: .2s linear;
                }
                a {
                    color: #ffff;
                    width: 100%;
                    height: 100%;
                }
            }

            .popBut2 {
                margin-left: 50px;
                color: #ffff;
                background: linear-gradient(#4d5c21, #a1ac48);
                &:hover {
                    filter: brightness(1.4);
                    transition: .2s linear;
                }
                a {
                    color: #ffff;
                }

            }
        }
    }

}
